<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/socket.io.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>